In [7]:
l = [7,11,98.3,'India',False,10]
l2 = list((15,19,81.74,"Knp",'students'))
print(l)
print(l2)
print(type(l))
print(type(l2))

[7, 11, 98.3, 'India', False, 10]
[15, 19, 81.74, 'Knp', 'students']
<class 'list'>
<class 'list'>

In [11]:
l = [7,11,98.3,'India',False,10]
l2 = list((15,19,81.74,"Knp",'students'))
print(l[2])
print(l2[1:4])

98.3
[19, 81.74, 'Knp']
[]

In [3]:
l = [7,11,98.3,'India',False,10,7,3,5,7]
print(l.count(7))
print(l.index(7))
print(l.index(7,1)) # this will print the last occurence
print(l.index(7,-1)) # this will print the last occurence

3
0
6
9

In [4]:
l3=l.copy()
print(l3)

[7, 11, 98.3, 'India', False, 10, 7, 3, 5, 7]

In [14]:
l3.reverse()
#print(l3)
a = l3[::-1]
print(str(a))

[7, 5, 3, 7, 10, False, 'India', 98.3, 11, 7]

In [19]:
l = ["Never","Judge","A","Person"]
s = ""
for i in l:
    s += i +" "
print(s)

Never Judge A Person

In [28]:
l.append(1)
print(l)

['Never', 'Judge', 'A', 'Person', 1, 1, 1]

In [30]:
l.remove(1)
print(l)

['Never', 'Judge', 'A', 'Person', 1]

In [31]:
l.insert(0,"HII")
print(l)

['HII', 'Never', 'Judge', 'A', 'Person', 1]

In [33]:
l.pop()
print(l)

['HII', 'Never', 'Judge', 'A']

In [34]:
print(l.clear())

None

In [38]:
var = [1,4,7,"Hello","World",9.86]
var2 = []
var2 = var.copy()
print(var2)
print(var)

[1, 4, 7, 'Hello', 'World', 9.86]
[1, 4, 7, 'Hello', 'World', 9.86]

In [43]:
var = [1,4,7,"Hello","World",9.86]
var2 = []
for i in var:
    var2.append(i)
print(var2)

[1, 4, 7, 'Hello', 'World', 9.86]

In [40]:
var = [1,4,7,"Hello","World",9.86]
var2 = var[:]
print(var2)

[1, 4, 7, 'Hello', 'World', 9.86]

In [56]:
var = [1,4,7,5,43,6,8]
var.sort()
print(var)

None
[1, 4, 5, 6, 7, 8, 43]

In [57]:
var.sort(reverse=True)
print(var)

[43, 8, 7, 6, 5, 4, 1]

In [59]:
var= ["Lko","knp"]
n1,n2 = var
print(n1)
print(n2)

Lko
knp

nested list

In [60]:
var= ["Lko","knp",[1,2,3],[3,4,5]]
print(var)

['Lko', 'knp', [1, 2, 3], [3, 4, 5]]

In [61]:
tup = (1,2,3,4,5,4)
print(tup)

(1, 2, 3, 4, 5, 4)

In [66]:
var=()
print(type(var))
var = tuple()
print(type(var))
var2 = 7,11,4.7,"Lko"
print(var2)
print(type(var2))
var3 = 4,
print(var3)

<class 'tuple'>
<class 'tuple'>
(7, 11, 4.7, 'Lko')
<class 'tuple'>
(4,)

In [67]:
var=(4,8,9,"Hello","Anukul")
print(var)
print(var[0])
print(var[1])
print(var[2])
print(var[3])
print(var[2:5])

(4, 8, 9, 'Hello', 'Anukul')
4
8
9
Hello
(9, 'Hello', 'Anukul')