In [1]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [3]:
n= int(input("Enter a number"))
for i in range(1,11):
    print(n*i)

2
4
6
8
10
12
14
16
18
20

In [4]:
n = int(input("Enter a number"))
f= 1
for i in range (n,1,-1):
    f =f*i
print(f)

24

In [1]:
pas = "Anukul123"
user = input("Enter pass")
while pas != user :
    user = input("Enter a pass")
else :
    print("Access granted")

Access granted

In [8]:
n = int(input("Enter a digit"))
a= 0
m=1
while n>0:
    s = n%10
    a = a+s
    m= m*s
    n = n//10
print("Sum of digit is",a)
print("Sum of product is",m)

Sum of digit is 6
Sum of product is 6

In [39]:
n =int(input("Enter a number"))
a = n
arm = 0
cou = str(n)
#print(type(cou))
df = len(cou)
#print(df)
while a>0:
    s = a%10
    power = s**df
    arm = arm + power
    a = a//10
if n == arm:
    print("Number is Armstrong")
else : 
    print("Number is not armstrong")

Number is Armstrong

In [13]:
n = int(input("ENter a number"))
a= n
rev = 0
while a>0:
    s =a%10
    rev = (rev*10) +s
    a= a//10
if rev == n:
    print("palindrome")
else : 
    print("Not palindrome")

palindrome

In [16]:
n= int(input("ENter a number"))
f=0
for i in range(2,n+1):
    if n%i == 0:
        f= f+1
if f == 1 :
    print("Prime")
else:
    print("not prime")

not prime

In [31]:
n =int(input("Enter a number"))
c= 0
i =1
while i<=n:
    if n%i ==0:
        c +=1
    i += 1
if c ==2:
    print("prime")
else:
    print("not prime")

prime

In [36]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\t")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\t")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
s=2

Decimal to binary :
example - 35 - 100011

In [12]:
n = int(input("Enter a number"))
s= ""
while n>0:
    p = n%2
    w = str(p)
    s= s+w
    n = n//2
t = s[::-1]
print(t)

100

Binary  to decimal:
 - 100011- 35
 - 10100011 - 163

In [63]:
n = int(input("Enter a number"))
s = str(n)
l = list(s)
l.reverse()
l2 = len(l)
a = 0
p = 0
while n>0:
     r = n%10
     a = a+(r*(2**p))
     p = p+1
     n = n//10
print(a)

163

In [30]:
n=6
for i in range(6,0,-1):
    for j in range(1,i):
        print(j,end = ' ')
    print("")

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [47]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end = ' ')
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [53]:
n =1 
for i in range(1,9):
    for j in range(1,i):
        print(n,end=' ')
        n +=1
    print("")

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28

In [18]:
n=5
for i in range(1,n+1):
    for j in range(i,n+1):
        print(j,end =' ')
    print(" ")
    for k in range(1,i+1):
        print(end='  ')

1 2 3 4 5
  2 3 4 5
    3 4 5
      4 5
        5

In [26]:
n=5
for i in range(1,n+1):
    for j in range(i,n+1):
        print('+',end =' ')
    print(" ")
    for k in range(1,i+1):
        print(end='  ')

+ + + + +
  + + + +
    + + +
      + +
        +

In [4]:
arr = list(map(int, input().rstrip().split()))
s =len(arr)
print(s)
min(arr)

5

1

Given five positive integers, find the minimum and maximum values that can be calculated by summing exactly four of the five integers. Then print the respective minimum and maximum values as a single line of two space-separated long integers.

input : 1 2 3 4 5
Output : 10 14

Explanation:
 The numbers are 1, 2, 3, 4, and 5. Calculate the following sums using four of the five integers:

- Sum everything except 1, the sum is 2+3+4+5 = 14.
- Sum everything except 2, the sum is 1+3+4+5 = 13.
- Sum everything except 3, the sum is 1+2+4+5 = 12.
- Sum everything except 4, the sum is 1+2+3+5 = 11.
- Sum everything except 5, the sum is 1+2+3+4 = 10.

In [11]:
arr = list(map(int, input().rstrip().split()))
s =len(arr)
l = []
for i in arr:
    p =0 
    for j in arr:
        if j == i:
            continue
        else : 
            p = p+j
    l.append(p)
print(min(l),end = ' ')
print(max(l))

10 14

In [5]:
def miniMaxSum(arr):
    s =len(arr)
    l = []
    for i in arr:
      p =0 
      for j in arr:
        if j == i:
            continue
        else : 
            p = p+j
      l.append(p)
    print(min(l),end = ' ')
    print(max(l))

if __name__ == '__main__':

    arr = list(map(int, input().rstrip().split()))

    miniMaxSum(arr)

0 0