In [1]:
var = {} # this will print the class as dict because it counts it as dectionary
print(type(var))

<class 'dict'>

In [2]:
var = {1,2,3,4}
print(type(var))

<class 'set'>

In [3]:
var = set()
print(type(var))

<class 'set'>

In [4]:
var = {2,2,4,5,6,7,4}
print(var)

{2, 4, 5, 6, 7}

In [9]:
var = {1,2,3,4,5}
print(var)

{1, 2, 3, 4, 5}

In [17]:
a=set()
a.add(3)
print(a)

{3}

In [19]:
p = set()
p.update([1,2,3,4])
print(p)

{1, 2, 3, 4}

to add data in set

In [1]:
var= {1,2,3,'True',"india"}
print(var)
var.add("England")
var.update("RBL","LKO") # if use update function without listing items then it will print the data in seprated form.. like- RBL , LKO -> output; {r,b,l,k,o}
print(var)

{1, 2, 'True', 3, 'india'}
{1, 2, 3, 'B', 'L', 'True', 'England', 'K', 'india', 'R', 'O'}

to remove data from set

In [3]:
var = {1,2,3,4,5}
var.pop()
print(var)
var.pop()
print(var)
st = {"HEllo","World","eng",'phy','pop'}
print(st)
st.pop()
print(st)
#st.pop())
st.remove("phy")
print(st)
print(st.clear())

{2, 3, 4, 5}
{3, 4, 5}
{'World', 'phy', 'pop', 'HEllo', 'eng'}
{'phy', 'pop', 'HEllo', 'eng'}
{'pop', 'HEllo', 'eng'}
None

mathematical function in sets

In [32]:
var = {1,2,3,4,5,6}
var2 = {2,5,8,9,10,2}

print(var | var2)
print(var.union(var2))
print(var & var2)
print(var.intersection (var2))

print(var.difference(var2))
print(var.symmetric_difference(var2))
#print

{1, 2, 3, 4, 5, 6, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 8, 9, 10}
{2, 5}
{2, 5}
{1, 3, 4, 6}
{1, 3, 4, 6, 8, 9, 10}

In [5]:
n= int(input())
b =set()
for i in range(0,n):
    a = input()
    b.add(a) 
print(len(b))

6

In [6]:
n = int(input())
a = set(map(int,input().split()))
n1 = int(input())
b = set(map(int,input().split()))
c = a|b
print(len(c))

5

In [13]:
c = set()
n= int(input())
a = set(map(int,input().split()))
n1 = int(input())
b = set(map(int,input().split()))
c = a.symmetric_difference(b)
d = sorted(c)
for i in d:
 print(i)

-10
1
2
3
4
5
6
7
8
9