In [2]:
import mysql.connector

check the connection

In [3]:
mydb = mysql.connector.connect(
  host="localhost",
  user="sqluser",
  password="password",
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001E790DDBE20>

to load/activate the database

In [2]:
mydb = mysql.connector.connect(
  host="localhost",
  user="sqluser",
  password="password",
  database ="myrestaurant"
)

# command to check the table name present in Database

In [8]:
mydb = mysql.connector.connect(
  host="localhost",
  user="sqluser",
  password="password",
  database ="myrestaurant"
)
#print(mydb)
mycursor = mydb.cursor()
mycursor.execute("Show Tables")
for i in mycursor:
  print(i)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000022477A35E20>
('users',)

In [2]:
import mysql.connector
conn = mysql.connector.connect(host = 'localhost',user = 'sqluser',password = 'password')

In [2]:

print(conn)
mycursor = conn.cursor()
mycursor.execute("create database Python_DB")

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001772576EEE0>

In [8]:
conn = mysql.connector.connect(host = 'localhost',user = 'sqluser',password = 'password',database = 'python_db')

In [9]:
my = conn.cursor()

In [4]:
my.execute("Create table Admin_Table(id Int Auto_Increment primary key,Name varchar(50),password varchar(30))")

In [5]:
sql = "INSERT INTO Admin_Table (Name, password) VALUES (%s, %s)"
val = ("Admin", "Admin@123")
my.execute(sql, val)
conn.commit()

In [10]:
gf = 1

In [1]:
my.execute(f"Select Name,password from admin_table where id = {gf}")
td = my.fetchone()
for i in td:
   s= i
   print(s)

NameError: name 'my' is not defined

In [6]:
my.execute("show databases")
for db in my:
    print(db)

('information_schema',)
('myrestaurant',)
('mysql',)
('performance_schema',)
('practice',)
('python_db',)
('sys',)

In [14]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Michelle", "Blue Village")
my.execute(sql, val)
conn.commit()

my.execute("insert into customer (name,address)values('Anukul','Lko')")

In [1]:
my.execute("insert into customer (name,address)values('Anukul','Lko')")
conn.commit()

NameError: name 'my' is not defined

- to insert bulk of data...
- to execute it

In [11]:
insert_data = "insert into customers(name,address) values(%s,%s)"
rec = [
("Yogendra","LKO"),
("Arpit","Knp"),
("Rachit","Delhi")
]
my.executemany(insert_data,rec)
conn.commit()

# fetch the data from table-server :
- fetchall () :it is used to fetch the data from table

In [5]:
my.execute("Select * from customers")
show_result = my.fetchall()
for i in show_result:
    print(i)

(1, 'Michelle', 'Blue Village')
(2, 'Michelle', 'Blue Village')
(3, 'Michelle', 'Blue Village')
(4, 'Yogendra', 'LKO')
(5, 'Arpit', 'Knp')
(6, 'Rachit', 'Delhi')

In [6]:
my.execute("Select * from customers")
show_result = my.fetchone()
for i in show_result:
    print(i)

1
Michelle
Blue Village

where clause

In [5]:
my.execute("Select * from customers where id = 2")
td = my.fetchall()
for i in td:
    print(i)

(2, 'Michelle', 'Blue Village')

In [8]:
my.execute("Update customers set address = 'Noida' where address = 'LKO'")
td = my.fetchall()
for i in td:
    print(i)

In [9]:
my.execute("Select * from customers")
show_result = my.fetchall()
for i in show_result:
    print(i)

(1, 'Michelle', 'Blue Village')
(2, 'Michelle', 'Blue Village')
(3, 'Michelle', 'Blue Village')
(4, 'Yogendra', 'Noida')
(5, 'Arpit', 'Knp')
(6, 'Rachit', 'Delhi')

In [11]:
my.execute("delete from customers where id = 6")
s_r = my.fetchall()
print("deleted successfully")
conn.commit()

deleted successfully